html, body {
  margin: 0px;
  font-family: "Hiragino Mincho Pro", serif;
}

// ヘッダー
header {
  display: flex;
  height: 80px;
  background-color: black;
  img {
    width: 190px;
    padding-left: 20px;
  }
  .nav-list {
    display: flex;
    list-style-type: none;
  }
  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 22px;
    margin: 20px;
  }
  .header-nav {
    margin-left: auto;
  }
}


// トップ
.top{
  position: relative;
}

.top-image {
  width: 100%;
}

.top-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  font-weight: 400;
  font-size: 60px;
}

// コース紹介
.course-list {
  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
  }
}
.course-items {
  padding: 20px;
  display: flex;
  .item-list {
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    margin: 10px;
    img {
      width: 100%;
    }
    p {
      font-size: 18px;
      line-height: 18px;
    }
    .course-date {
      font-size: 16px;
      text-align: center;
    }
  }
}


.course-button {
  display: block;
  width: 300px;
  height: 50px;
  margin: 30px auto 0 auto;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background: white;
  color: black;
  font-size: 18px;
  font-family: "Hiragino Mincho Pro", serif;
}

// 講師紹介
.teacher-list {
  padding-right: 120px;
  padding-left: 120px;
  text-align: center;
  h2 {
    font-size: 40px;
    font-weight: 400;
  }
  .teacher-item {
    display: flex;
    align-items: center;
    padding-top: 45px;
    .teacher-img {
      img {
        width: 250px;
      }
    }
    .teacher-item-text {
      h2 {
        font-size: 40px;
        font-weight: 400;
      }
      p {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

//資料請求
.document-claim {
  background-image: url(../image/contact-bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
  h2 {
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  button {
    background-color: #DC143Ced;
    color: #fff;
    font-size: 16px;
    width: 210px;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
}

// フッター
footer {
  padding: 30px 0 30px 0;
  display: block;
  background-color: black;
  color: white;
  div {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
}

// レスポンシブデザイン
@media screen and (max-width:767px) {
  .nav-list {
    width: 180px;
  }
  .top-text {
    font-size: 26px;
  }
  .course-items {
    flex-flow: column;
  }
  .teacher-item {
    flex-flow: column;
  }
}

